<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kinectv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kinectv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Kinect SDK assembly binding redirects -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect.Face" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      
      <!-- Newtonsoft.Json binding redirect (much more stable than System.Text.Json for .NET Framework) -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      
      <!-- System.Net.Http: rely on inbox .NET Framework assembly; remove package redirect to 4.3.4.0 -->
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
      
      <!-- System.Memory binding redirect: unify to the assembly actually deployed on .NET Framework (4.0.1.1) -->
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.5.0" newVersion="4.0.1.1" />
      </dependentAssembly>
      
      <!-- System.Buffers binding redirect (package 4.5.1 uses asm version 4.0.3.0) -->
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      
      <!-- System.Numerics.Vectors binding redirect (package 4.5.0 uses asm version 4.1.4.0) -->
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      
      <!-- System.Collections.Immutable binding redirect -->
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      
      <!-- Microsoft.Bcl.AsyncInterfaces binding redirect (resolves conflicts between 6.0.0 and 8.0.0) -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      
      <!-- System.Runtime.CompilerServices.Unsafe binding redirect (resolves conflicts between 4.5.3 and 6.0.0) -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>

      <!-- Probe libs in bin/lib as well -->
      <probing privatePath="lib;lib\onnxruntime;lib\discord;lib\vosk;lib\kinect" />
    </assemblyBinding>
  </runtime>
  
  <!-- Optional legacy appSettings retained; user-scoped settings live below -->
  <appSettings>
    <add key="KinectMode" value="Native" />
    <add key="VoiceThreshold" value="0.20" />
    <add key="FaceThreshold" value="0.45" />
    <add key="OllamaModel" value="gemma3:4b" />
    <add key="OllamaEnabled" value="false" />
    <add key="SystemPromptPath" value="prompts\system.txt" />
    <add key="VoiceActivityThreshold" value="300" />
    <add key="DiscordVoiceActivityThreshold" value="25" />
    <add key="VadSilenceTimeoutMs" value="150" />
    <add key="VadDebounceTimeoutMs" value="200" />
    <add key="TtsEnabled" value="true" />
    <add key="TtsModelPath" value="models\tts\kokoro\onnx\model.onnx" />
    <add key="TtsSpeaker" value="em_alex" />
    <add key="TtsUseGpu" value="false" />
    <add key="DarkMode" value="true" />
    <add key="VoiceConfidenceThreshold" value="0.5" />
    <add key="VoiceHighConfidenceThreshold" value="0.7" />
    <add key="VoiceConfidenceBufferSize" value="5" />
    <add key="VoiceConfidenceLoggingEnabled" value="true" />
    <add key="OllamaMaxMessagesPerSpeaker" value="20" />
    <add key="OllamaMaxSystemMessages" value="3" />
    <add key="OllamaConversationTimeoutMinutes" value="30" />
    <add key="OllamaMemoryEnabled" value="true" />
    <add key="ConversationHistoryPath" value="history" />
    <add key="TelemetryEnabled" value="false" />
    <add key="TelemetryFile" value="logs\telemetry.ndjson" />
    <add key="TelemetrySamplingPct" value="100" />
  </appSettings>
  
  <!-- userSettings trimmed for brevity -->
  <userSettings>
    <Kinectv1.Properties.Settings>
      <setting name="OllamaEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Kinectv1.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <Kinectv1.Properties.Settings>
      <setting name="KinectMode" serializeAs="String">
        <value>Native</value>
      </setting>
    </Kinectv1.Properties.Settings>
  </applicationSettings>
</configuration>