<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kinectv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kinectv1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Kinect SDK assembly binding redirects -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Kinect.Face" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      
      <!-- Newtonsoft.Json binding redirect (much more stable than System.Text.Json for .NET Framework) -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <!-- Optional legacy appSettings retained; user-scoped settings live below -->
  <appSettings>
    <add key="KinectMode" value="Native" />
    <add key="VoiceThreshold" value="0.20" />
    <add key="FaceThreshold" value="0.45" />
    <add key="OllamaModel" value="gemma3:4b" />
    <add key="OllamaEnabled" value="false" />
    <add key="SystemPromptPath" value="prompts\system.txt" />
    <add key="VoiceActivityThreshold" value="300" />
    <add key="DiscordVoiceActivityThreshold" value="25" />
    <add key="VadSilenceTimeoutMs" value="150" />
    <add key="VadDebounceTimeoutMs" value="200" />
    <add key="TtsEnabled" value="true" />
    <add key="TtsModelPath" value="models\tts\kokoro\onnx\model.onnx" />
    <add key="TtsSpeaker" value="em_alex" />
    <add key="TtsUseGpu" value="false" />
    <add key="DarkMode" value="true" />
    <add key="VoiceConfidenceThreshold" value="0.5" />
    <add key="VoiceHighConfidenceThreshold" value="0.7" />
    <add key="VoiceConfidenceBufferSize" value="5" />
    <add key="VoiceConfidenceLoggingEnabled" value="true" />
    <add key="OllamaMaxMessagesPerSpeaker" value="20" />
    <add key="OllamaMaxSystemMessages" value="3" />
    <add key="OllamaConversationTimeoutMinutes" value="30" />
    <add key="OllamaMemoryEnabled" value="true" />
    <add key="ConversationHistoryPath" value="history" />
    <add key="TelemetryEnabled" value="false" />
    <add key="TelemetryFile" value="logs\telemetry.ndjson" />
    <add key="TelemetrySamplingPct" value="100" />
  </appSettings>
  
  <userSettings>
    <Kinectv1.Properties.Settings>
      <setting name="VoiceThreshold" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="VoiceConfidenceThreshold" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="VoiceHighConfidenceThreshold" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="VoiceConfidenceBufferSize" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="VoiceConfidenceLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FaceThreshold" serializeAs="String">
        <value>0.45</value>
      </setting>
      <setting name="OllamaModel" serializeAs="String">
        <value>gemma3:4b</value>
      </setting>
      <setting name="OllamaEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OllamaMaxMessagesPerSpeaker" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="OllamaMaxSystemMessages" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="OllamaConversationTimeoutMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="OllamaMemoryEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConversationHistoryPath" serializeAs="String">
        <value>history</value>
      </setting>
      <setting name="SystemPromptPath" serializeAs="String">
        <value>prompts\system.txt</value>
      </setting>
      <setting name="TtsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TtsUseGpu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SttInputDevice" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="TtsOutputDevice" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="DiscordBotToken" serializeAs="String">
        <value>MTQwNjAwODUyNzYzMzM4NzU2Mg.GcEjb1.yvMA3GmSKEO97VAAugrDqXgPSXa4PPjYHmwbJw</value>
      </setting>
      <setting name="DiscordBotEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DiscordBotPrefix" serializeAs="String">
        <value>!</value>
      </setting>
      <setting name="DiscordAutoJoinVoice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DarkMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SttModelPath" serializeAs="String">
        <value>models\vosk-model-en-us-0.22</value>
      </setting>
      <setting name="SpeakerEmbeddingModelPath" serializeAs="String">
        <value>models\pyannote_embedding.onnx</value>
      </setting>
      <setting name="TtsSpeaker" serializeAs="String">
        <value>af_aoede</value>
      </setting>
      <setting name="TtsModelPath" serializeAs="String">
        <value>models\tts\kokoro\onnx\model.onnx</value>
      </setting>
      <setting name="TtsModelFolder" serializeAs="String">
        <value>models\tts\kokoro</value>
      </setting>
      <setting name="VoiceActivityThreshold" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DiscordVoiceActivityThreshold" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="VadSilenceTimeoutMs" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="VadDebounceTimeoutMs" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LocalTtsVolume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DiscordTtsVolume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AppScenario" serializeAs="String">
        <value>Local</value>
      </setting>
    </Kinectv1.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <Kinectv1.Properties.Settings>
      <setting name="KinectMode" serializeAs="String">
        <value>Native</value>
      </setting>
    </Kinectv1.Properties.Settings>
  </applicationSettings>
</configuration>